DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"

KAKAO_CLIENT_ID=""
KAKAO_CLIENT_SECRET=""
NAVER_CLIENT_ID=""
NAVER_CLIENT_SECRET=""
SESSION_SECRET=""
BACKEND_URL="http://localhost:4000"
FRONTEND_URL="http://localhost:3000"
KAKAO_REDIRECT_URI="http://localhost:4000/auth/kakao/callback"
NAVER_REDIRECT_URI="http://localhost:4000/auth/naver/callback"